<div class="row" *ngIf="Data$ | async as ruuviDataList; else loading">
	<div class="col-lg-12">
		<div class="card card-custom card-stretch gutter-b">
			<div class="card-header">
				<div class="card-title">
					<h3 class="card-label">
						{{ruuviDataList.name}}
						<small>{{ruuviDataList.deviceId}}</small>
					</h3>
				</div>
				<div class="card-toolbar">
					<app-ngbd-datepicker-range (onDatePicked)="selectedByDate($event)"></app-ngbd-datepicker-range>
				</div>
			</div>
		</div>
	</div>



	<div class="col-lg-6 col-xxl-3" *ngIf="ruuviDataList.temperature != null">
		<app-stats-widget [info]="temperature" [data]="ruuviDataList.temperature"></app-stats-widget>
	</div>

	<div class="col-lg-6 col-xxl-3" *ngIf="ruuviDataList.pressure != null">
		<app-stats-widget [info]="pressure" [data]="ruuviDataList.pressure"></app-stats-widget>
	</div>
	<div class="col-lg-6 col-xxl-3" *ngIf="ruuviDataList.humidity != null">
		<app-stats-widget [info]="humidity" [data]="ruuviDataList.humidity"></app-stats-widget>
	</div>
	<div class="col-lg-6 col-xxl-3" *ngIf="ruuviDataList.batteryLevel != null">
		<app-stats-widget [info]="batteryLevel" [data]="ruuviDataList.batteryLevel"></app-stats-widget>
	</div>
	<div class="col-lg-12" *ngIf="ruuviDataList.route != null">
		<app-map-widget [routeHistory]="ruuviDataList.route"></app-map-widget>
	</div>

	<div class="col-lg-6 col-xxl-4">
		<div class="card card-custom card-stretch gutter-b">
			<div class="card-header">
				<div class="card-title">
					<h3 class="card-label">
						Temperature Breaches:
						<small>amount: {{temperatureBreach?.length}}</small>
					</h3>
				</div>
			</div>
			<div class="card-body">
				<table class="table table-vertical-center">
					<thead>
						<tr>
							<td>Temperature </td>
							<td>Min</td>
							<td>Max</td>
							<td>Breach type</td>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let breach of temperatureBreach">
							<th class="text-dark-75">{{breach.temperature}}</th>
							<th>{{breach.minTemprature}}</th>
							<th>{{breach.maxTemprature}}</th>
							<th [ngSwitch]="breach.type">
								<div *ngSwitchCase="1"><span class="label label-sm label-pill label-inline label-warning">Warning</span></div>
								<div *ngSwitchCase="2"><span class="label label-sm label-pill label-inline label-danger">Breach</span></div>
							</th>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-lg-6 col-xxl-4">
		<div class="card card-custom card-stretch gutter-b">
			<div class="card-header">
				<div class="card-title">
					<h3 class="card-label">
						Humidity Breaches:
						<small>amount: {{humidityBreach?.length}}</small>
					</h3>
				</div>
			</div>
			<div class="card-body">
				<table class="table table-vertical-center">
					<thead>
						<tr>
							<td>Humidity </td>
							<td>Min</td>
							<td>Max</td>
							<td>Breach type</td>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let breach of humidityBreach">
							<th class="text-dark-75">{{breach.humidity}}</th>
							<th>{{breach.minHumidity}}</th>
							<th>{{breach.maxHumidity}}</th>
							<th [ngSwitch]="breach.type">
								<div *ngSwitchCase="1"><span class="label label-sm label-pill label-inline label-warning">Warning</span></div>
								<div *ngSwitchCase="2"><span class="label label-sm label-pill label-inline label-danger">Breach</span></div>
							</th>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-lg-6 col-xxl-4">
		<div class="card card-custom card-stretch gutter-b">
			<div class="card-header">
				<div class="card-title">
					<h3 class="card-label">
						Pressure Breaches:
						<small>amount: {{pressureBreach?.length}}</small>
					</h3>
				</div>
			</div>
			<div class="card-body">
				<table class="table table-vertical-center">
					<thead>
						<tr>
							<td class="text-dark-75">Pressure</td>
							<td>Min</td>
							<td>Max</td>
							<td>Breach type</td>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let breach of pressureBreach">
							<th>{{breach.pressure}}</th>
							<th>{{breach.minPressure}}</th>
							<th>{{breach.maxPressure}}</th>
							<th [ngSwitch]="breach.type">
								<div *ngSwitchCase="1"><span class="label label-sm label-pill label-inline label-warning">Warning</span></div>
								<div *ngSwitchCase="2"><span class="label label-sm label-pill label-inline label-danger">Breach</span></div>
							</th>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<ng-template #loading>
	<div class="card">
		<div class="card-body">
			<div class="spinner spinner-primary"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 col-xxl-3">
			<div class="card">
				<div class="card-body">
					<div class="spinner spinner-primary"></div>
				</div>
			</div>
		</div>

		<div class="col-lg-6 col-xxl-3">
			<div class="card">
				<div class="card-body">
					<div class="spinner spinner-primary"></div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-xxl-3">
			<div class="card">
				<div class="card-body">
					<div class="spinner spinner-primary"></div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-xxl-3">
			<div class="card">
				<div class="card-body">
					<div class="spinner spinner-primary"></div>
				</div>
			</div>
		</div>
		<div class="col-lg-12">
			<div class="card">
				<div class="card-body">
					<div class="spinner spinner-primary"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-body">
			<div class="spinner spinner-primary"></div>
		</div>
	</div>
</ng-template>