<div class="row" *ngIf="Data$ | async as ruuviDataList; else loading">
	<div class="col-lg-12">
		<div class="card card-custom card-stretch gutter-b">
			<div class="card-header">
				<div class="card-title">
					<h3 class="card-label">
						{{ruuviDataList.name}}
						<small>{{ruuviDataList.deviceId}}</small>
					</h3>
				</div>
				<div class="card-toolbar">
					<app-ngbd-datepicker-range (onDatePicked)="selectedByDate($event)"></app-ngbd-datepicker-range>
				</div>
			</div>
		</div>
	</div>



	<ng-container *ngIf="slas$ | async as slaDataList; else loading" class="col-12">
		<div class="col-lg-6 col-xxl-3" *ngIf="ruuviDataList.temperature != null">
			<app-stats-widget [info]="temperature" [data]="ruuviDataList.temperature" [max]="slaDataList[0] != null ? slaDataList[0].maxTemprature : null"
				[min]="slaDataList[0] != null ? slaDataList[0].minTemprature : null"></app-stats-widget>
		</div>
		<div class="col-lg-6 col-xxl-3" *ngIf="ruuviDataList.pressure != null">
			<app-stats-widget [info]="pressure" [data]="ruuviDataList.pressure"  [max]="slaDataList[0] != null ? slaDataList[0].maxPressure : null"
			[min]="slaDataList[0] != null ? slaDataList[0].minPressure : null"></app-stats-widget>
		</div>
		<div class="col-lg-6 col-xxl-3" *ngIf="ruuviDataList.humidity != null">
			<app-stats-widget [info]="humidity" [data]="ruuviDataList.humidity"  [max]="slaDataList[0] != null ? slaDataList[0].maxHumidity : null"
			[min]="slaDataList[0] != null ? slaDataList[0].minHumidity : null"></app-stats-widget>
		</div>
		<div class="col-lg-6 col-xxl-3" *ngIf="ruuviDataList.batteryLevel != null">
			<app-stats-widget [info]="batteryLevel" [data]="ruuviDataList.batteryLevel"></app-stats-widget>
		</div>
		<div class="col-lg-12" *ngIf="ruuviDataList.route != null">
			<app-map-widget [routeHistory]="ruuviDataList.route" [geoJson]="slaDataList[0] != null ? slaDataList[0].locationBoundary : null">
			</app-map-widget>
		</div>
	</ng-container>

	<div class="col-12">
		<div class="card card-custom card-stretch gutter-b">
			<div class="card-header">
				<div class="card-title">
					<h3 class="card-label">
						Breaches:
						<small>amount: {{data?.length}}</small>
					</h3>
				</div>
			</div>
			<!--Breaches search bar-->
			<div class="quick-search quick-search-dropdown" id="kt_quick_search_dropdown" *ngIf="data.length > 0">
				<!--begin:Form-->
				<form method="get" class="quick-search-form">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">
								<span class="svg-icon svg-icon-lg"
									[inlineSVG]="'./assets/media/svg/icons/General/Search.svg'"></span>
							</span>
						</div>
						<input [(ngModel)]="_searchInput" (ngModelChange)="searchAsset()" name="searchAsset" type="text"
							class="form-control" placeholder="Search..." />
						<div class="input-group-append"
							[ngClass]="{ 'spinner spinner-sm spinner-primary': searchingAsset }">
						</div>
					</div>
				</form>
				<!--end::Form-->
			</div>
			<div class="card-body" *ngIf="data.length > 0; else noBreaches">
				<table class="table table-vertical-center">
					<thead>
						<tr>
							<td></td>
							<td>SLA</td>
							<td>Time</td>
							<td>Temperature</td>
							<td>Humidity</td>
							<td>Pressure</td>
							<td>Breach type</td>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let breach of data | slice: (page-1) * 10 : page * 10"
							[class]="(breach.hasEnded)?'breach-ended': ''">
							<td>
								<span
									[inlineSVG]="(breach.hasEnded)?'../assets/media/svg/icons/Communication/Clipboard-check.svg': '../assets/media/svg/icons/Communication/Flag.svg'"
									cacheSVG="true" class="icon-breach"></span>
							</td>
							<th>{{breach.slaTitle != null ? breach.slaTitle : 'SLA ' + breach.slaAgreementId}}</th>
							<td>{{breach.createdAt | date: 'dd-MM-yyyy hh:mm:ss'}}</td>
							<td [class.text-danger]="breach.hasTempratureBreach">
								<span placement="top" [disableTooltip]="!breach.hasTempratureBoundry" ngbTooltip="Min: {{breach.minTemprature}} | Max: {{breach.maxTemprature}}">{{breach.temperature}}</span>
							</td>
							<td [class.text-danger]="breach.hasHumidityBreach"><span placement="top" [disableTooltip]="!breach.hasHumidityBoundry"
									ngbTooltip="Min: {{breach.minHumidity}} | Max: {{breach.maxHumidity}}">{{breach.humidity}}</span>
							</td>
							<td [class.text-danger]="breach.hasPressureBreach"><span placement="top" [disableTooltip]="!breach.hasPressureBoundry"
									ngbTooltip="Min: {{breach.minPressure}} | Max: {{breach.maxPressure}}">{{breach.pressure}}</span>
							</td>
							<td [ngSwitch]="breach.type">
								<div *ngSwitchCase="1"><span
										class="label label-sm label-pill label-inline label-warning w-100">Warning</span>
								</div>
								<div *ngSwitchCase="2"><span
										class="label label-sm label-pill label-inline label-danger w-100">Breach</span>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="col-12" breach>
					<ngb-pagination class="d-flex justify-content-center" [collectionSize]="data?.length"
						[pageSize]="10" [(page)]="page" [boundaryLinks]="true"></ngb-pagination>
				</div>
			</div>
			<ng-template #noBreaches>
				<div class="card-body">
					This assets does not yet have any breaches
				</div>
			</ng-template>
		</div>
	</div>
</div>
<ng-template #loading>
	<div class="col-12 card">
		<div class="card-body">
			<div class="spinner spinner-primary"></div>
		</div>
	</div>
	<div class="col-12 row">
		<div class="col-lg-6 col-xxl-3">
			<div class="card">
				<div class="card-body">
					<div class="spinner spinner-primary"></div>
				</div>
			</div>
		</div>

		<div class="col-lg-6 col-xxl-3">
			<div class="card">
				<div class="card-body">
					<div class="spinner spinner-primary"></div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-xxl-3">
			<div class="card">
				<div class="card-body">
					<div class="spinner spinner-primary"></div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-xxl-3">
			<div class="card">
				<div class="card-body">
					<div class="spinner spinner-primary"></div>
				</div>
			</div>
		</div>
		<div class="col-lg-12">
			<div class="card">
				<div class="card-body">
					<div class="spinner spinner-primary"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 card mb-4">
		<div class="card-body">
			<div class="spinner spinner-primary"></div>
		</div>
	</div>
	<div class="col-12 card mb-4">
		<div class="card-body">
			<div class="spinner spinner-primary"></div>
		</div>
	</div>
</ng-template>