@{
    ViewData["Title"] = "Ruuvi Example";
}

<div class="row">
    <div class="col-md-6">
        <h2>Examples</h2>
        <ul>
            <li><a asp-area="" asp-controller="RuuviData" asp-action="Index">Temprature List</a></li>
            <li><a href="/swagger">API Documentation (Swagger)</a></li>
        </ul>
    </div>
</div>
